* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* APP HEADER */

header {
    display: flex;
    justify-content: space-around;
    height: 5rem;

    nav {
        margin: auto 0;
    
        a{
            text-decoration: none;
            padding: 0 0.7rem;
            color: black;
            font-size: 10px;
        }
    }

    img {
        width: 50px;
        height: 50px;
        margin: auto 0;
    }
}



/* APP MAIN */

main {
    background-color: black;
    min-height: 13vh;
    
    .grid {
        display: grid;
        grid-template-columns: repeat(6, 150px);
        gap: 16px;
        justify-content: center;
    }

        .card {
            background: transparent;
            color: white;
            
            img {
                width: 100px;
                height: 100px;
            }

                .card-body {
                    font-size: 9px;
                    font-weight: 200;
                    text-align: start;
                    margin-top: 10px;
                } 
    }

}



/* PRODUCTS SECTION */
.products {
    background-color: rgb(33, 123, 192);
    min-height: 13vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    .single-product {
        display: flex;
        gap: 1rem;
        align-items: center;
        width: 12rem;

        img {
            width: 14%;
        }

        h4 {
            font-size: 10px;
            color: white;
            font-weight: 200;
        }
    }
}


/* APP FOOTER */
footer {
    min-height: 50vh;
    background-image: url('./dc-comics-1/img/dc-logo-bg.png'), url('./dc-comics-1/img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: 30%, cover;
    background-position: center right, center center;

    h4 {
        color: white;
        margin-top: 1rem;
    }

    a {
        color: grey;
        text-decoration: none;
        font-size: 10px;
    }
}

.container {
    width: 40%;
    padding: 2rem 3rem 0 14rem;
    
}

.row {
    display: flex;
    justify-content: space-evenly;
    
}



/* APP FOLLOW */

.end-section {
    background-color: rgb(69, 66, 66);
    min-height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        border: 2px solid rgb(33, 123, 192);
        background: transparent;
        color: white;
        padding: 0.8rem;
        margin: 1.3rem 0;
    }


    .follow {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        h4 {
            color: rgb(33, 123, 192);
        }

        img {
            width: 70%;
        }
    }
}